@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #212353;
  --light-blue: #2dc5fa;
  --dark-grey: #717291;
  --medium-grey: #818694;
  --grey: #a6a7ba;
  --light-grey: #dcdcdc;
  --correct: #0bb427;
  --wrong: #ff0421;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: black;
}

.App {
  text-align: center;
  font-family: "Source Code Pro";
  font-size: 16px;
}

.button {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: var(--dark-grey) 4px 4px 0 0, var(--medium-grey) 4px 4px 0 1px;
  color: var(--dark-blue);
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.button:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: var(--black);
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button:not([disabled]):active {
  box-shadow: var(--dark-grey) 2px 2px 0 0, var(--medium-grey) 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: var(--white);
  border-color: var(--black);
}

.nav {
  background-color: var(--light-blue);
  min-height: 8vh;
}

.hamburg-hr {
  margin: 2px;
}

.brand {
  color: var(--dark-blue);
  text-shadow: 1px 1px 2px var(--dark-grey);
  margin-right: 32px;
}

.brand:hover {
  color: var(--dark-grey);
}

.brand:active {
  font-size: 19px;
}

.hamburg {
  border: 1px solid var(--dark-grey);
}

.hamburg-collapse-items {
  text-shadow: 1px 1px 2px var(--dark-grey);
}

.hamburg-collapse-item {
  color: var(--dark-blue);
  margin-right: 16px;
}

.hamburg-collapse-item:hover {
  color: var(--dark-grey);
}

.hamburg-collapse-item:active {
  font-size: 15px;
  color: var(--black);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  font-size: small;
  letter-spacing: 2px;
  width: 100%;
}

.footer-h5 {
  font-size: 12px;
}

.footer-portfolio {
  color: var(--white);
}

.footer-portfolio:hover {
  color: var(--medium-grey);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon {
  position: relative;
  background: var(--light-grey);
  border-radius: 50%;
  padding: 14px 14px 12.5px 15.5px;
  margin: 6px 12px 0 12px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px var(--black);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  font-family: "Source Code Pro";
  position: absolute;
  top: 0;
  font-size: 10px;
  background: var(--light-grey);
  color: var(--light-grey);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px var(--black);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--light-grey);
  bottom: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -36px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 6px;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #444444;
  color: var(--white);
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #0071ae;
  color: var(--white);
}

.slideshow:hover,
.slideshow:hover .tooltip,
.slideshow:hover .tooltip::before {
  background: #d89906;
  color: var(--white);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn-menu {
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  padding: 12px 32px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--black);
  text-align: left;
  color: var(--dark-blue);
  text-shadow: 0px 0px 1px var(--medium-grey);
  line-height: 2;
  list-style: disc;
}

.btns-config {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container-config-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  width: 100%;
  padding: 20px 10px;
  background-color: var(--grey);
  color: var(--dark-blue);
}

.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  padding: 16px 24px;
  width: 90%;
  position: relative;
}

.container-game-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.lifes,
.time {
  font-weight: 700;
  color: var(--black);
  font-size: 1.25rem;
  text-shadow: 0px 0px 1px var(--dark-blue);
}

.span-correct {
  color: var(--correct);
}

.form-container {
  font-size: 16px;
  width: 100%;
}

.create-inputs {
  text-align: left;
}

.btn-plus {
  border-radius: 50%;
  padding: 8px;
}

.text-question {
  width: 100%;
}

.btn-trash {
  border-radius: 50%;
  padding: 8px;
  background-color: salmon;
}

.btn-trash:hover {
  background-color: lightsalmon;
}

.Fácil {
  color: var(--dark-blue);
  background-color: var(--correct);
  padding: 4px;
}

.Médio {
  color: var(--dark-blue);
  background-color: darkorange;
  padding: 4px;
}

.Difícil {
  color: var(--dark-blue);
  background-color: var(--wrong);
  padding: 4px;
}

.accordion-container {
  width: 100%;
}

.btn-delete {
  background-color: salmon;
}

.btn-delete:hover {
  background-color: lightsalmon;
}

@media (max-width: 460px) {
  .App {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }
}
